{% extends 'base.html.twig' %}

{% block title %}A propos de nous
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/about.css') }}"/>
{% endblock %}

{% block body %}

	<main>
		<h1 class="addNews__title">A propos de nous</h1>

		<p>
			Présidents d’honneur :
			Baron de VINCK, décédé en 1942
			M. André LE GUILLOU décédé en 2003
			Président honoraire fondateur : M. CHARVET, décédé en 1969
			Président : M. Francis KELEDJIAN
			
			
			Secrétaire :
			M. Jean-Claude GAGNE
			
			
			Trésorier et Responsable des OSL :
			M. Marc BIGEY
			
			
			Responsable de la Communication :
			M. Gérard CRUAU
			
			
			Webmaster et Responsable de la Cote en Euros :
			M. Christophe BENELLI
			
			Société des Collectionneurs de Coins datés et de Millésimes
			
			Fondée le 31 mars 1936, l’association a pour but de regrouper les philatélistes qui étudient la fabrication des timbres-postes français en se basant sur la méthode du Baron de VINCK de WINNEZEELE.
			Elle est adhérente à la Fédération Française des Associations Philatéliques. Elle a obtenu le prix annuel de la Fédération au congrès de MONTPELLIER en 1939.
			
			STATUTS
			
			
			Association fédérée n° 92-1C
			Siège Social (domicilié chez le trésorier Mr Marc Bigey) : 38, allée des 32 Arpents – 91190 GIF SUR YVETTE
			STATUTS
			Article 1er Il est fondé en France, une association qui prend le titre de :
			« SOCIÉTÉ DES COLLECTIONNEURS DE COINS DATÉS ET MILLÉSIMES« 
			(SO.CO.CO.DA.MI.)
			Les statuts sont déposés à la Préfecture de l’Essonne.
			Le siège social est situé à : 38, allée des 32 Arpents 91190 GIF SUR YVETTE
			Article 2 L’Association a pour but de faciliter les échanges entre collectionneurs, par tous les
			moyens que le bureau jugera utiles, et d’accroître les connaissances déjà acquises
			dans la branche de la philatélie qui la concerne.
			Article 3 L’Association a son siège chez l’un des membres du bureau désigné parmi les
			Président, Secrétaire, Trésorier ou Chef des Echanges.
			Article 4 L’Association se compose de membres d’honneur, de membres actifs et de membres
			honoraires.
			Article 5 Toute personne majeure pourra participer aux activités de l’Association en tant que
			membre actif.
			Article 6 Les marchands de timbres pourront faire partie de l’Association comme membres
			actifs mais ils ne pourront pas être membres du bureau.
			Article 7 Pour être admis membre actif de l’Association, il faut être présenté par le Président
			d’une Association Philatélique adhérente à la Fédération Française des Associations
			Philatéliques (F.F.A.P.) ou par deux membres actifs de notre Association.
			La demande comporte l’engagement des parrains d’user de leur influence morale sur
			le sociétaire qu’ils présentent si celui-ci ne remplit pas ses engagements envers
			l’Association.
			COTISATION
			Article 8 Un droit d’entrée pour tout nouvel adhérent doit être versé dès l’admission.
			Article 9 L’Assemblée Générale a lieu au cours des premiers mois de l’année et, entre autres décisions, fixe le montant de la cotisation pour l’exercice suivant. Cette cotisation doit être payée avant le 1er du mois concerné pour que le Sociétaire puisse participer à l’Assemblée Générale.
			Article 10 Les membres d’honneur n’ont aucun droit d’entrée, ni aucune cotisation à payer.
			BUREAU
			Article 11 L’Association est administrée par un bureau. Le bureau est formé d’au moins 3 membres constitués du Président, du Trésorier et du Secrétaire. Ils s’entourent d’autres membres actifs pour la bonne marche de l’association.
			Article 12 Les membres actifs élisent le bureau et celui-ci choisit en son sein un Président, un Secrétaire, un Trésorier. Les membres du bureau doivent être majeurs et de nationalité française.
			Article 13 Les membres du bureau sont élus pour trois ans et ils sont renouvelés annuellement par tiers. Ils sont rééligibles.
			Article 14 Les membres du bureau sont élus à main levée et à la majorité des voix des votants.
			Le vote par correspondance est admis. Les sociétaires désireux de faire acte de candidature devront en avertir le Président, ou le Secrétaire, ou le Trésorier, ou le Responsable du Service des Echanges avant l’envoi de la convocation de l’Assemblée Générale.
			ATTRIBUTION DES MEMBRES DU BUREAU
			Article 15 Le Président est le représentant légal de l’Association. Il préside les Assemblées Générales et les réunions qui ont lieu le 1er samedi tous les deux mois sauf en juillet/août. Il dirige les travaux et propose des résolutions aux questions. Il vise les opérations de trésorerie et les bilans. Il s’assure de la collecte des informations
			relatives aux tirages des timbres en cours (dates, presses).
			Article 16 Le Secrétaire est chargé de l’instruction des candidatures, des convocations, de la correspondance de l’Association. Il prépare les élections. Il distribue la Cote et s’occupe des commandes d’ouvrages et de catalogues.
			Article 17 Le trésorier a la responsabilité de gérer le patrimoine financier de l’Association. Il effectue les paiements, perçoit les sommes dues à l’Association, encaisse les cotisations, prépare le compte de résultat et le bilan présentés à l’Assemblée Générale annuelle où il rend compte de sa mission.
			Article 18 Le Responsable du Service des Echanges a en charge la collecte des offres et des demandes de cession ou d’échanges de timbres collectionnés dans le cadre des activités de l’Association. Il diffuse toutes les informations nécessaires aux adhérents soit par le site internet, soit par courrier.
			Il assure les réceptions et les expéditions des timbres entre bailleurs et demandeurs.
			Les mouvements financiers sont assurés par le trésorier comme indiqué dans l’article 17.
			
			Le Responsable du Service des Echanges tient un état des recettes et dépenses de cette activité qu’il transmet au Trésorier pour être inclus aux comptes de l’Association.
			Article 19 Un commissaire aux comptes est nommé chaque année par l’Assemblée Générale.
			ASSEMBLÉES GÉNÉRALES
			Article 20 L’Assemblée Générale annuelle se tiendra durant les premiers mois de l’année en cours.
			Les sociétaires seront avertis individuellement par bulletin de convocation, un pouvoir étant mis à leur disposition dans le cas où ils ne pourraient être présents.
			La non réception de l’avis individuel de la convocation ne pourra être cause de nullité de l’Assemblée Générale.
			Lors de l’Assemblée Générale, il sera pris connaissance des comptes-rendus moral et financier ainsi que celui du Service des Echanges.
			Elle procédera au renouvellement partiel des membres du bureau et fixera le montant de la cotisation de l’année suivante.
			Article 21 L’Association édite un bulletin périodique qui publie les admissions, les démissions, les comptes-rendus des membres du bureau et tous les articles se rattachant à notre spécialité. Ce bulletin est envoyé à chaque sociétaire par les soins du Secrétaire. De plus, des communiqués seront publiés dans les journaux philatéliques.
			DISPONIBILITÉ DES FONDS
			Article 22 L’emploi des fonds sera décidé par le bureau. Ces fonds pourront être consacrés à l’édition d’études sur les coins datés, à la publication annuelle d’une Cote des coins datés, de bulletins périodiques, de suppléments de mise à jour et de sites internet de
			diffusion d’informations, en direction des adhérents ou du public. Ils peuvent également être utilisés pour toutes opérations visant à la promotion de la collection des coins datés.
			Article 23 Une partie des fonds sera utilisée au paiement d’une assurance couvrant, en cas de perte ou de vol, les envois concernant le Service des Echanges, routés sur le territoire.
			DÉMISSIONS
			Article 24 Le sociétaire qui, après deux rappels, n’aura pas payé sa cotisation, sera considéré comme démissionnaire mais restera redevable des cotisations courues.
			Article 25 Tout membre désirant quitter l’Association doit adresser sa démission par lettre recommandée avant l’échéance de sa cotisation annuelle. Cette démission ne pourra être acceptée que si le sociétaire est en règle avec l’Association. Dans le cas où la démission ne pourrait être acceptée, le bureau examinera s’il convient d’exclure le sociétaire.
			Article 26 Lorsqu’un sociétaire est défaillant ou lorsqu’une contestation s’élève entre lui et l’Association, les parrains du sociétaire sont appelés à intervenir auprès de lui.
			DISSOLUTION
			Article 27 La dissolution de l’Association ne pourra être votée qu’à la majorité absolue des membres inscrits depuis plus de deux ans.
			Article 28 Les fonds disponibles seront versés en totalité à une oeuvre de bienfaisance, sauf le cas où la majorité absolue des membres désignés à l’article précédent en disposerait
			autrement dans un but de promotion de la Philatélie.
			MODIFICATION DES STATUTS
			Article 29 Le bureau pourra proposer des modifications aux statuts s’il le juge utile. Toute proposition venant d’autres sociétaires, devra être signées par dix d’entre eux et soumise au Président.
			Article 30 Le bureau a plein pouvoir de décision pour tout cas non prévu aux présents statuts.
			
			
			Melun, le 20 avril 2013
			Le Président
			Francis Keledjian

		</p>
	</main>

{% endblock %}
