form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#news{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#news_visibility{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}

label{
    margin: 0 4vw 0 0;
}

input{
    width: 55vw;
    height: 30px;
    padding: 0 0 0 2vw;
    outline: none;
    border: solid 1px black;
}

button{
    height: 30px;
}