{% extends 'base.html.twig' %}

{% block title %}Adherer
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/other.css') }}"/>
{% endblock %}


{% block body %}
	<main>
		<h1 class='title__ohter'>Cotisation</h1>

		<p class='txt__other'>
            ...
		</p>

	
        <a href="mailto:jean-claude.gagne@wanadoo.fr">Des questions ? Contacter nous par ici !</a>
	
    </main>
{% endblock %}
